* {
  margin: 0;
  padding: 0;
  font-size: large;
}

#menu {
  list-style-type: none;
  background-color: black;
}

.menu-item {
  display: inline-block;
  color: white;
  padding: 15px;
}

.search-form {
  color: white;
  float: right;
}
.search-form .search-input {
  padding: 5px 15px;
  margin: 10px 10px 0 0;
}
.active {
  background-color: rgb(50, 164, 50);
}
main {
  margin: 10px 0;
}
.content {
  margin: 10px 0;
}
#loginBtn {
  width: 10%;
}
